In [3]:
from statistics import correlation

import kagglehub

# Download latest version
path = kagglehub.dataset_download("jahnavipaliwal/customer-feedback-and-satisfaction")

print("Path to dataset files:", path)

Path to dataset files: /Users/aliyasirali/.cache/kagglehub/datasets/jahnavipaliwal/customer-feedback-and-satisfaction/versions/1

In [4]:
import pandas as pd

In [5]:
feedbacks = pd.read_csv(f"{path}/customer_feedback_satisfaction.csv")

In [6]:
feedbacks

,CustomerID,Age,Gender,Country,Income,ProductQuality,ServiceQuality,PurchaseFrequency,FeedbackScore,LoyaltyLevel,SatisfactionScore
0,1,56,Male,UK,83094,5,8,5,Low,Bronze,100.00
1,2,69,Male,UK,86860,10,2,8,Medium,Gold,100.00
2,3,46,Female,USA,60173,8,10,18,Medium,Silver,100.00
3,4,32,Female,UK,73884,7,10,16,Low,Gold,100.00
4,5,60,Male,UK,97546,6,4,13,Low,Bronze,82.00
...,...,...,...,...,...,...,...,...,...,...,...
38439,38440,55,Female,USA,80880,6,3,14,High,Silver,75.85
38440,38441,44,Male,Canada,42845,5,10,1,Low,Silver,100.00
38441,38442,43,Female,USA,71433,7,9,7,Medium,Bronze,100.00
38442,38443,28,Female,USA,105587,7,5,16,High,Silver,100.00
38443,38444,64,Female,Canada,105379,2,2,8,High,Bronze,71.81

In [7]:
feedbacks["tagged_description"] = feedbacks[["CustomerID", "SatisfactionScore"]].astype(str).agg(" ".join, axis=1)

In [8]:
feedbacks

,CustomerID,Age,Gender,Country,Income,ProductQuality,ServiceQuality,PurchaseFrequency,FeedbackScore,LoyaltyLevel,SatisfactionScore,tagged_description
0,1,56,Male,UK,83094,5,8,5,Low,Bronze,100.00,1 100.0
1,2,69,Male,UK,86860,10,2,8,Medium,Gold,100.00,2 100.0
2,3,46,Female,USA,60173,8,10,18,Medium,Silver,100.00,3 100.0
3,4,32,Female,UK,73884,7,10,16,Low,Gold,100.00,4 100.0
4,5,60,Male,UK,97546,6,4,13,Low,Bronze,82.00,5 82.0
...,...,...,...,...,...,...,...,...,...,...,...,...
38439,38440,55,Female,USA,80880,6,3,14,High,Silver,75.85,38440 75.85
38440,38441,44,Male,Canada,42845,5,10,1,Low,Silver,100.00,38441 100.0
38441,38442,43,Female,USA,71433,7,9,7,Medium,Bronze,100.00,38442 100.0
38442,38443,28,Female,USA,105587,7,5,16,High,Silver,100.00,38443 100.0
38443,38444,64,Female,Canada,105379,2,2,8,High,Bronze,71.81,38444 71.81

In [9]:
print(feedbacks.head())

   CustomerID  Age  Gender Country  Income  ProductQuality  ServiceQuality  \
0           1   56    Male      UK   83094               5               8
1           2   69    Male      UK   86860              10               2
2           3   46  Female     USA   60173               8              10
3           4   32  Female      UK   73884               7              10
4           5   60    Male      UK   97546               6               4

   PurchaseFrequency FeedbackScore LoyaltyLevel  SatisfactionScore  \
0                  5           Low       Bronze              100.0
1                  8        Medium         Gold              100.0
2                 18        Medium       Silver              100.0
3                 16           Low         Gold              100.0
4                 13           Low       Bronze               82.0

  tagged_description
0            1 100.0
1            2 100.0
2            3 100.0
3            4 100.0
4             5 82.0

In [10]:
(
    feedbacks
    .to_csv("customer-feedbacks.csv", index = False)
)

In [11]:
# We are not exploring data as for now it looks in good order and sorted in terms of any missing data
# If it was not the case we might have to remove the missing values
# TBD let fix incorrect data like if the product quality is bad then the satisfaction score cannot be high